<html>
<head>
    <title>
        Md. Rifat Hossain | Contact
    </title>
</head>
<body>

    <ol>Phone: 01993830224</ol>
    <ol>Current Address: Dhaka, Bangladesh</ol>
    <ol>Parmanent address: Singair manikgonj</ol>
    <ol>Email: rh140025@gmail.com/rh140025@outollk.com</ol>

</body>
</html>