@{
    ViewBag.Title = "Resume";
}
<html>
<head>
    <title>
        Md. Rifat Hossain | Contact
    </title>
</head>
<body>
    <ol>HSC: 2018</ol>
    <ol>SSC: 2016</ol>
    <ol>JSC: 2014</ol>
    <ol>BSC present</ol>

</body>
</html>