
@{
    ViewBag.Title = "Projects";
}



<html>
<head>
    <title>
        Md. Rifat Hossain | My Project
    </title>
</head>
<body>

    <ol>Banking Application</ol>
    <ol>Data Encrycption Application</ol>
    <ol>Portfolio Apptication</ol>
    <ol>BePartenr Web site</ol>

</body>
</html>

